/*  your css code here. If applicable */
table {
            width: 60%;
            border-collapse: collapse;
            background-color: yellow;
            margin: 20px 0;
			border: 1px solid rgb(0,0,0);
			
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        
